<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>br.eb.ime.pfc.listeners.ServletContextListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter-mapping>
        <filter-name>TransactionHandlerFilter</filter-name>
        <url-pattern />
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern />
    </filter-mapping>
    
    <!-- error-code related error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/404error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/403error.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/WEB-INF/jsp/401error.jsp</location>
    </error-page>
    <error-page>
        <location>/WEB-INF/jsp/error.jsp</location>
    </error-page>
    
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured page</web-resource-name>
                <url-pattern>/wms</url-pattern>
                <url-pattern>/</url-pattern>
                <url-pattern>/wms/*</url-pattern>
                <url-pattern>/map</url-pattern>
                <url-pattern>/layers</url-pattern>
                <url-pattern>/login</url-pattern>
                <url-pattern>/logout</url-pattern>
                <url-pattern>/legend-graphic</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
